<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thevarunshah.communityhacks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RequestsListScreen"
            android:label="List of Requests"/>
        <activity
            android:name=".EditProfileScreen"
            android:label="Edit Profile"/>
        <activity
            android:name=".NewRequestScreen"
            android:label="New Request"/>
        <activity
            android:name=".ViewRequestScreen"
            android:label="Request"/>
        <activity
            android:name=".RegisterScreen"
            android:label="Register"/>
        <activity
            android:name=".SelfRequestsListScreen"
            android:label="Requests from You"/>
        <activity
            android:name=".ViewClaimsScreen"
            android:label="Claims for Request"/>
    </application>

</manifest>
